# == DOCKER ==
/docker/nginx/var-log/*
/docker/php-fpm/var-log/*

# == LARAVEL ==
/public/storage
/storage/*.key
/vendor
Homestead.yaml
Homestead.json
.env
/.phpunit.cache
/node_modules
/public/build
/public/hot
.env.backup
.env.production
.phpunit.result.cache
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode

# == OS X ==
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# == WINDOWS ==
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# == PHPSTORM ==
.idea/

# == SECRETS ==
/secrets/*

# == GIT ==
!.gitkeep
